extends base.template.pug

block content
  p(style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;") Hi #{name}
    p(style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;") Forgot your password? Submit a PATH request with your new password and passwordConfirm to: #{url}.
    p(style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;") If you didn't forget your password, please ignore this email!